---
import Base from "../../layouts/Base.astro";
import Nav from "../../components/Nav.astro";
import cv_software from "../../content/cv/resume_software_en.pdf";
import cv_normal from "../../content/cv/resume_en.pdf";
import bec from "../../content/cv/bec.pdf";
import cae from "../../content/cv/cae.pdf";
---

<Base title="About me">
  <Nav />
  <div class="w-full flex justify-center bg-gray">
    <div
      class="md:w-11/12 w-full z-0 p-10 flex justify-between lg:flex-row flex-col flex-wrap"
    >
      <div
        class="w-full ml-15 mb-8 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
      >
        <h1>About me</h1>
        <p>
          My name is Bernhard Steirer.<br />
          I was born on September 28th 2004 in Voitsberg, Austria (currently 19 years
          old).<br />
          <br />
          In June 2023, I graduated high school in Austria at the 5-year <a
            class="underline"
            href="https://htl-kaindorf.at/">HTL Kaindorf</a
          > for Computer science und business administration. <br /><br /> I am currently
          in Tanzania, where I complete my 11-month compulsory military service for
          Austria.<br /> Here, Im working as a teacher for English at a local primary
          school.
        </p>
      </div>
      <div
        class="w-full lg:w-4/12 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
      >
        <h1>My Resumé</h1>
        <p>
          <ul class="list-disc list-inside">
            <li>
              4 years secondary school <a
                class="underline"
                href="https://www.ahskoeflach.at/">BRG Köflach</a
              > focus on natural sciences
            </li>
            <li>
              5 years high school
              <a class="underline" href="https://htl-kaindorf.at/"
                >HTL Kaindorf</a
              >
              focus on computer science, business administration and English
            </li>
            <li>11 months civilian service in Tanzania</li>
            <li>Internships in Software-Development</li>
            <li>Aspiring undergraduate in Physics</li>
          </ul>
          <br /> If you want to know more, you can find more details in the PDFs
          below.
        </p>
        <br />
        <a href={cv_normal} download="STEIRER_Bernhard_Resume">
          <button
            class="mt-5 p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full"
            >Standard Resumé
          </button></a
        >
        <a href={cv_software} download="STEIRER_Bernhard_Resume_Software">
          <button
            class="mt-5 p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full"
            >Resumé for Software-Nerds
          </button>
        </a>
        <br />
      </div>
      <div
        class="w-full lg:w-7/12 lg:mt-0 mt-8 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
      >
        <h1>English Certificates</h1>
        <p>
          <ul class="list-disc list-inside">
            <li>Cambridge C1 Advanced</li>
            Score 206, Grade A, CEFR Level: C2<br /><br />
            <li>Cambridge B2 BEC Vantage</li>
            Business English Certificate<br /> Score 187, Grade A, CEFR Level: C1<br
            />
          </ul>
          <br /> PDFs downloadable below.
        </p>
        <br />
        <a href={cae} download="STEIRER_Bernhard_C1-Advanced_206">
          <button
            class="mt-5 p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full"
            >Cambridge C1 Advanced - Score 206</button
          >
        </a>
        <a href={bec} download="STEIRER_Bernhard_BEC_187">
          <button
            class="mt-5 p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full"
            >Cambridge B2 BEC Vantage - Score 187</button
          >
        </a>
        <br />
      </div>
    </div>
  </div>
</Base>
