---
import Base from "../../layouts/Base.astro";
import ImageUpload from "../../components/ImageUpload.astro";
import Nav from "../../components/Nav.astro";
---

<Base title="About me">
  <Nav />
  <h1>About me</h1>
  <ImageUpload />
</Base>
