---
import BlogBrowser from "../../components/BlogBrowser.astro";
import Nav from "../../components/Nav.astro";
import Base from "../../layouts/Base.astro";
---

<Base title="Blog">
  <Nav />
  <div class="w-full flex justify-center">
    <div
      class="w-11/12 bg-gray z-0 p-10 flex justify-between lg:flex-row flex-col flex-wrap"
    >
      <BlogBrowser />
    </div>
  </div>
</Base>
