---
import Nav from "../../components/Nav.astro";
import Base from "../../layouts/Base.astro";
---

<Base title="Let's talk">
  <Nav />
  <div class="w-full flex justify-center">
    <div class="w-11/12 bg-gray -z-50 p-10">
      <h1 class="font-serif">Let's get in touch!</h1>
      <p>I'd love to hear your thoughts and ideas.</p>
    </div>
  </div>
</Base>
