---
import Nav from "../../components/Nav.astro";
import Base from "../../layouts/Base.astro";
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");

    const msg = {
      to: "test@example.com", // Change to your recipient
      from: "text@example.com", // Change to your verified sender
      replyTo: { email: email, name: name },
      subject: `Contact form submission from ${name}`,
      text: message,
    };
    /*await sendGrid.send(msg).then(() => {
      console.log('Email sent')
    }).catch((error) => {
      console.error(error)
    });*/
  } catch (error) {
    console.error(error);
  }
}
---

<Base title="Let's talk">
  <Nav />
  <div class="w-full flex justify-center">
    <div class="w-11/12 bg-gray z-0 p-10 flex justify-between">
      <div
        class="w-full lg:w-4/12 lg:mt-0 mt-96 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
      >
        <h1 class="font-serif">Let's get in touch!</h1>
        <p>
          I'd love to hear your thoughts and ideas. Just write me a message and
          let me contact you. <br /><br />Or send me an email directly!
        </p>
        <br />
        <button
          class="p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full"
          type="submit">Send me an email</button
        >
        <br />
      </div>
      <div
        class="bg-white p-8 shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)] w-7/12"
        style="opacity: 1; transform: translateY(0%) translateZ(0px);"
      >
        <form class="flex justify-center items-center flex-col gap-4">
          <div class="w-full">
            <div class="rounded-lg bg-gray">
              <input
                class="input w-full resize-none bg-gray border border-medium p-3 text-primary-content"
                placeholder="Name"
                autocomplete="off"
                type="text"
                value=""
                name="name"
              /><div
                data-lastpass-icon-root="true"
                style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"
              >
              </div>
            </div>
          </div><div class="w-full">
            <div class="rounded-lg bg-gray">
              <input
                class="input w-full resize-none bg-gray border border-medium p-3 text-primary-content"
                placeholder="Email"
                autocomplete="off"
                type="email"
                value=""
                name="email"
              />
            </div>
          </div><div class="w-full">
            <textarea
              class="textarea w-full resize-none bg-gray border border-medium p-3 text-primary-content"
              name="message"
              placeholder="Message"
              rows="5"></textarea>
          </div><button
            class="p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full"
            type="submit">Send</button
          >
        </form>
      </div>
    </div>
  </div>
</Base>
