---
import Nav from "../../components/Nav.astro";
import Base from "../../layouts/Base.astro";

const props = {
  title: "Bernhard Steirer",
  description: "This is my personal portfolio website.",
  keywords: [
    "Resume",
    "Portfolio",
    "Developer",
    "Astro",
    "Physics",
    "Software",
  ],
  author: "Bernhard Steirer",
};
---

<Base
  title={props.title}
  description={props.description}
  author={props.author}
  keywords={props.keywords}
>
  <main>
    <Nav />
    <div>soos</div>
  </main>
</Base>
