---
import Nav from "../../components/Nav.astro";
import PersonalBanner from "../../components/PersonalBanner.astro";
import Base from "../../layouts/Base.astro";

const props = {
  title: "Bernhard Steirer",
  description: "This is my personal portfolio website.",
  keywords: [
    "Resume",
    "Portfolio",
    "Developer",
    "Astro",
    "Physics",
    "Software",
  ],
  author: "Bernhard Steirer",
};
---

<Base
  title={props.title}
  description={props.description}
  author={props.author}
  keywords={props.keywords}
>
  <main>
    <Nav />
    <div
      class="w-11/12 flex justify-between [&>*]:h-full [&>*]:mx-8 float-right mt-10"
    >
      <div class="w-7/12 ml-15">
        <h1 class="leading-normal text-5xl font-extrabold">
          Hey there!<br />
          My name is Bernhard
        </h1>
        <p class="text-lg leading-relaxed">
          I am a software engineer, aspiring physics student at the Technical
          University of Munich, passionate violinist and a lifelong learner.
          <br />
          <br />
          I am currently doing an 11-month voluntary service in Tanzania to complete
          my compulsory military service for Austria, always ready to embark on the
          next great adventure.
        </p>
      </div>
      <PersonalBanner />
    </div>
  </main>
</Base>
