---
import ImageUpload from "../../components/ImageUpload.astro";
import { ui } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";
import Base from "../../layouts/Base.astro";
import { locale } from "../../service/language";

const t = useTranslations(locale.get() as keyof typeof ui);
---

<Base title="Image upload">
  <div class="flex w-full justify-center mt-10">
    <div class="w-4/5 bg-white p-4 shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]">
      <h1
        class="leading-normal xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl font-bold"
      >
        Upload images
      </h1>
      <p>
        Upload images into one of the categories to be displayed automatically.
        Images will be uploaded to Cloudinary-CDN.
      </p>
      <br />
      <ImageUpload />
    </div>
  </div>
</Base>
