---
import { getEntry } from "astro:content";
import Base from "../layouts/Base.astro";
import { determineLocale, locale } from "../service/language";
// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const entry = await getEntry("blog", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();
determineLocale(Astro.url, Astro.preferredLocale);
---

<Base title={entry.data.title} author={entry.data.author}>
  <div class="w-full flex justify-center">
    <div
      class="w-11/12 bg-gray z-0 p-10 flex justify-between lg:flex-row flex-col flex-wrap"
    >
      <div
        class="w-full ml-15 mb-8 p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)] flex flex-col"
      >
        <h1>{entry.data.title}</h1>
        <h2>soos</h2>
        <h3>soos</h3>
        <h4>soos</h4>
        <h5>soos</h5>
        <h6>
          {entry.data.author}, {
            entry.data.pubDate.toLocaleDateString(locale.get())
          }
        </h6>
        <div
          id="content"
          class="[&>h1]:font-serif [&>h2]:font-serif [&>h3]:font-serif [&>h4]:font-serif [&>h5]:font-serif [&>h6]:font-serif"
        >
          <Content />
        </div>
      </div>
    </div>
  </div>
</Base>
