---
import Nav from "../components/Nav.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { locale, determineLocale } from "../service/language";
import PersonalBanner from "../components/PersonalBanner.astro";
import Base from "../layouts/Base.astro";
import PictureBrowser from "../components/PictureBrowser.astro";

const props = {
  title: "Bernhard Steirer",
  description: "This is my personal portfolio website.",
  keywords: [
    "Resume",
    "Portfolio",
    "Developer",
    "Astro",
    "Physics",
    "Software",
  ],
  author: "Bernhard Steirer",
};
determineLocale(Astro.url, Astro.preferredLocale);
Astro.redirect(getRelativeLocaleUrl(locale.get(), "/"), 300);
---

<Base
  title={props.title}
  description={props.description}
  author={props.author}
  keywords={props.keywords}
>
  <Nav />
  <div
    class="relative -z-50 w-full md:w-11/12 lg:bg-gray mx-auto flex justify-center md:[&>*]:mx-8 md:pt-10"
  >
    <main>
      <div class="w-full flex lg:hidden px-5 max-w-full h-0">
        <PersonalBanner />
      </div>
      <div
        class="w-11/12 mx-auto flex justify-between md:[&>*]:mx-8 md:pt-10 mb-4"
      >
        <div
          class="w-full lg:w-7/12 lg:mt-0 mt-96 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
        >
          <h1
            class="leading-normal font-serif xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl font-bold text-xl"
          >
            Hey there!<br />
            My name is Bernhard
          </h1>
          <p class="lg:text-lg text-base leading-relaxed">
            I am a software engineer, aspiring physics student at the Technical
            University of Munich, passionate violinist and a lifelong learner.
            <br />
            <br />
            I am currently doing an 11-month voluntary service in Tanzania to complete
            my compulsory military service for Austria, always ready to embark on
            the next great adventure.
          </p>
          <button class="p-4 my-4 mr-2 bg-foreground font-bold text-white"
            >Let's talk</button
          >
          <button class="p-4 my-4 bg-foreground font-bold text-white"
            >My projects</button
          >
        </div>
        <div class="w-full hidden lg:flex">
          <PersonalBanner />
        </div>
      </div>
    </main>
  </div>
  <div class="mx-auto flex w-11/12 justify-center items-center my-10">
    <PictureBrowser />
  </div>
</Base>
