---
import Nav from "../components/Nav.astro";
import Base from "../layouts/Base.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { locale, determineLocale } from "../service/language";

const props = {
  title: "Bernhard Steirer",
  description: "This is my personal portfolio website.",
  keywords: [
    "Resume",
    "Portfolio",
    "Developer",
    "Astro",
    "Physics",
    "Software",
  ],
  author: "Bernhard Steirer",
};
determineLocale(Astro.url, Astro.preferredLocale);
Astro.redirect(getRelativeLocaleUrl(locale.get(), "/"), 300);
---

<Base
  title={props.title}
  description={props.description}
  author={props.author}
  keywords={props.keywords}
>
  <main>
    <Nav />
    <div>soos</div>
  </main>
</Base>
