---
import { Image, imageConfig } from "astro:assets";
import { v2 as cloudinary } from "cloudinary";

interface Props {
  url: string;
  altText: string;
  classes: string;
  description?: string;
  w_steps?: number;
  w_min?: number;
  w_max?: number;
}

const { url, altText, classes, description, w_steps, w_min, w_max } =
  Astro.props;

const urls = [];
let split = url.split("/upload/");
let transformer = "f_auto/q_auto/";

if (w_min && w_max && w_steps) {
  for (let w = w_min; w <= w_max; w += w_steps) {
    urls.push(
      split[0] +
        "/upload/" +
        transformer +
        "c_scale,w_" +
        w +
        "/" +
        split[1] +
        " " +
        w +
        "w",
    );
  }
} else {
  urls.push(split[0] + "/upload/" + transformer + split[1]);
}
let srcSet = urls.join(",\n");
console.log(srcSet);
---

<div class={classes}>
  <img class="w-full" srcset={srcSet} src={urls[0]} alt={altText} />
</div>
