---
import { Image } from "astro:assets";
import { v2 as cloudinary } from "cloudinary";

interface Props {
  imagePath: string;
  altText: string;
  name: string;
  age: number;
  location?: string;
}

const { imagePath, altText, name, age } = Astro.props;
cloudinary.search
  .expression("resource_type:image AND tags=image AND folder=bernhardsteirer")
  .sort_by("uploaded_at", "desc")
  .max_results(10)
  .execute()
  .then((result) => console.log(result));
---

<div class="card">
  <h2>{name}</h2>
  <p>Age: {age}</p>
</div>
