---
import { languages, ui } from "../i18n/ui";
import { locale } from "../service/language";
import { translateURL } from "../i18n/utils";

const langu = locale.get();
---

{
  Object.entries(languages).map(([lang, label], index, array) => (
    <>
      <a
        class={langu == lang ? "font-bold" : undefined}
        href={translateURL(Astro.url, lang as keyof typeof ui)}
      >
        {label}
      </a>
      {index < array.length - 1 && " / "}
    </>
  ))
}
