---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex items-center justify-between w-11/12 mx-auto">
  <div class="font-black text-xl">
    <a href={getRelativeLocaleUrl(lang, "/")}>Bernhard Steirer</a>
    <div>
      <a href={getRelativeLocaleUrl(lang, "about")}>{t("nav.about")}</a>
    </div>
    <div>{t("nav.dev")}</div>
    <div>{t("nav.physics")}</div>
    <div>{t("nav.blog")}</div>
    <div><LanguagePicker /></div>
    <div>Github</div>
  </div>
</div>
