---
import { Image } from "astro:assets";

import frameSVG from "../images/svg/frame.svg";
import portraitWebP from "../images/png/portrait.webp";
---

<div
  class="flex w-full relative justify-center align-middle md:h-[500px] lg:h-[600px] xl:h-[750px]"
>
  <Image
    class="absolute -z-20 w-7/12 max-w-[372px] max-h-[693px]"
    src={portraitWebP}
    alt=""
  />
  <Image
    class="absolute -z-30 w-full max-w-[666px] max-h-[690px]"
    src={frameSVG}
    alt="Frame"
  />
</div>
