---
import { Image } from "astro:assets";

import frameSVG from "../images/svg/frame.svg";
import portraitPNG from "../images/png/portrait.png";
---

<div
  class="hidden md:flex w-full relative justify-center align-middle top-5 md:h-[500px] lg:h-[600px] xl:h-[750px]"
>
  <Image class="absolute z-0" src={frameSVG} alt="Frame" />
  <Image
    class="absolute z-10 w-7/12 max-w-[372px] max-h-[693px]"
    src={portraitPNG}
    alt="Portrait"
  />
</div>
