---
import { Image } from "astro:assets";

import frameSVG from "../images/svg/frame.svg";
import portraitPNG from "../images/png/portrait.png";
---

<div class="w-10/12 relative flex justify-center align-middle top-5">
  <Image class="absolute z-0" src={frameSVG} alt="Frame" />
  <Image class="absolute z-10 w-7/12" src={portraitPNG} alt="Portrait" />
</div>
