---
import ImageUpload from "../../components/ImageUpload.astro";
import Nav from "../../components/Nav.astro";
import Base from "../../layouts/Base.astro";
---

<Base title="Über mich">
  <Nav />
  <h1>Über mich</h1>
  <ImageUpload />
</Base>
