---
import Nav from "../../components/Nav.astro";
import Base from "../../layouts/Base.astro";
---

<Base title="Kontaktier mich!">
  <Nav />
  <div class="w-full flex justify-center">
    <div class="w-11/12 bg-gray -z-50 p-10">
      <h1 class="font-serif">Kontaktier mich!</h1>
      <p></p>
    </div>
  </div>
</Base>
