---
import Base from "../../layouts/Base.astro";
import Nav from "../../components/Nav.astro";
import PictureBrowser from "../../components/PictureBrowser.astro";
---

<Base title="Bildergalerie">
  <Nav />

  <div class="w-full flex-col items-center flex justify-center bg-gray">
    <div
      class="mt-8 w-11/12 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
    >
      <h1 class="font-serif">Bildergalerie</h1>
      <p>
        Hier poste ich Bilder, die ich cool, interessant oder schön finde.<br
        /><br />
        Die Bilder sind in Kategorien eingeteilt.
      </p>
    </div>
    <div class="w-11/12 flex justify-center mx-auto mt-8">
      <PictureBrowser />
    </div>
  </div>
</Base>
