---
import Base from "../../layouts/Base.astro";
import Nav from "../../components/Nav.astro";
import PictureBrowser from "../../components/PictureBrowser.astro";
import ResponsiveFrame from "../../layouts/ResponsiveFrame.astro";
---

<Base title="Bildergalerie">
  <Nav />

  <ResponsiveFrame class="flex items-center flex-col">
    <div
      class="w-full h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
    >
      <h1>Bildergalerie</h1>
      <p>
        Hier poste ich Bilder, die ich cool, interessant oder schön finde.<br
        /><br />
        Die Bilder sind in Kategorien eingeteilt.
      </p>
    </div>
    <div class="w-full flex justify-center mx-auto mt-8">
      <PictureBrowser />
    </div>
  </ResponsiveFrame>
</Base>
