---
import Base from "../../layouts/Base.astro";
import Nav from "../../components/Nav.astro";
import PersonalBanner from "../../components/PersonalBanner.astro";
import Link from "../../layouts/Link.astro";
import PictureBrowser from "../../components/PictureBrowser.astro";

const props = {
  title: "Bernhard Steirer",
  description: "Meine persönliche Portfolio-Website.",
  keywords: [
    "Resume",
    "Portfolio",
    "Developer",
    "Astro",
    "Physik",
    "Entwickler",
    "Software",
  ],
  author: "Bernhard Steirer",
};
---

<Base
  title={props.title}
  description={props.description}
  author={props.author}
  keywords={props.keywords}
>
  <Nav />
  <div
    class="relative z-0 w-full md:w-11/12 lg:bg-gray mx-auto flex justify-center md:[&>*]:mx-8 md:pt-10"
  >
    <main>
      <div class="w-full flex lg:hidden px-5 max-w-full h-0">
        <PersonalBanner />
      </div>
      <div
        class="w-11/12 mx-auto flex justify-between md:[&>*]:mx-8 md:pt-10 mb-4"
      >
        <div
          class="w-full lg:w-7/12 lg:mt-0 mt-96 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
        >
          <h1
            class="leading-normal xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl font-bold text-xl"
          >
            Hi!<br />
            Ich bin Bernhard
          </h1>
          <p class="lg:text-lg text-base leading-relaxed">
            Ich bin Software-Engineer, angehender Physik-Student an der TU
            München, leidenschaftlicher Geiger und ein lebenslanger Lerner.
            <br />
            <br />
            Gerade absolviere ich meinen elfmonatigen Zivilersatzdienst in Tansania,
            bin aber immer offen für das nächste Abenteuer.
          </p>
          <Link
            url="contact"
            class="z-50 inline-block max-w-fit p-4 my-4 mr-2 bg-foreground font-bold text-white cursor-pointer"
          >
            Schreib mir
          </Link>
          <Link
            url="software/#projects"
            class="z-50 inline-block max-w-fit min-h-min p-4 my-4 mr-2 bg-foreground font-bold text-white cursor-pointer"
            >Meine Projekte</Link
          >
        </div>
        <div class="w-full hidden lg:flex">
          <PersonalBanner />
        </div>
      </div>
      <div class="mx-auto flex w-11/12 justify-center items-center my-10">
        <PictureBrowser />
      </div>
    </main>
  </div>
</Base>
