---
import Nav from "../../components/Nav.astro";
import ProgressBar from "../../components/ProgressBar.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Base from "../../layouts/Base.astro";

import portfolio from "../../images/png/project_portfolio.webp";
import agent from "../../images/png/project_agent.webp";
import comedy from "../../images/png/project_comedy.webp";
import progen from "../../images/png/project_progen.webp";
---

<Base title="Software">
  <Nav />
  <div class="w-full p-4 lg:p-10 bg-gray mx-auto">
    <div class="w-full flex justify-center">
      <div
        class="md:w-11/12 w-full px-5 z-0 flex justify-between lg:flex-row flex-col"
      >
        <div class="w-full lg:w-4/12 flex flex-col">
          <div
            class="w-full ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
          >
            <h1>Programmieren als Hobby</h1>
            <p>
              In meiner fünfjährigen Oberstufe (HTL) war Informatik der
              Ausbildungsschwerpunkt. Die meiste Erfahrung habe ich im
              Web-Development gesammelt, egal ob Frontend mit Angular und
              Typescript, im Backend mit Java-Spring oder mit Datenbanken wie
              Oracle oder MongoDB.
              <br /><br />Hier eine Auswahl einiger Projekte von mir!
            </p>
            <br />
            <a
              href="#projects"
              class="p-4 mr-2 bg-foreground font-bold text-white cursor-pointer w-full block text-center"
              >Projekte ansehen</a
            >
            <br />
          </div>
          <div
            class="w-full my-8 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
          >
            <h1>Frameworks</h1>
            Mit diesen hier habe ich schon Erfahrung gesammelt.
            <div class="flex flex-col">
              <ProgressBar title="SpringBoot" progress={60} />
              <ProgressBar title="Astro" progress={55} />
              <ProgressBar title="Angular" progress={75} />
              <ProgressBar title="Wordpress" progress={35} />
            </div>
          </div>
        </div>
        <div
          class="w-full mb-8 lg:w-7/12 ml-15 h-min p-8 bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)]"
        >
          <h1>Coding skillset</h1>
          <p>
            Über die Jahre habe ich mich mit vielen Programmiersprachen,
            Prinzipien der Softwareentwicklung und Technologien vertraut
            gemacht. <br /><br />So manches davon habe ich in der Schule
            gelernt, anderes in Praktika oder eigenen Projekten.<br /> Hier ist,
            was ich für relevant halte.
            <br />
            <br />
            <div class="flex flex-col">
              <ProgressBar title="Typescript" progress={70} />
              <ProgressBar title="HTML/CSS" progress={80} />
              <ProgressBar title="Java" progress={85} />
              <ProgressBar title="SQL" progress={75} />
              <ProgressBar title="Python" progress={20} />
              <ProgressBar title="PHP" progress={30} />
              <ProgressBar title="Dart (Flutter)" progress={40} />
              <ProgressBar title="C/C++" progress={25} />
              <ProgressBar title="Design Patterns" progress={55} />
              <ProgressBar title="Git" progress={100} />
              <ProgressBar title="SCRUM" progress={85} />
              <ProgressBar title="Unit Testing" progress={70} />
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div class="md:w-11/12 w-full px-5">
        <div
          class="bg-white shadow-[2px_4px_12px_0_rgba(0,0,0,0.2)] h-min w-full p-8"
        >
          <h1 id="projects">Projekte</h1>
          <p>
            Dies ist meine Auswahl an relevanten oder lustigen Projekten, für
            viele auch mit GitHub source code links. <br /> Während die meisten meiner
            Schulprojekte nicht wirklich interessant sind, sind diese hier ganz nett.
            <br />
            Sag mir, was du denkst!
            <br />
            <br />
          </p>
          <ProjectCard
            title="Portfolio-Website"
            date="Februar 2024"
            image={portfolio}
            description="Diese Website hier. Designed in Figma und gebaut in wenigen Wochen mit Astro in Typescript und Tailwind. Deployed mit Vercel. Verwendet Cloudinary als CDN für Bildergalerie, Bilder können mit Passwort auch online hochgeladen werden. Verwendet Astros Content-Collections für den Blog und ein eigenes System für die Zweisprachigkeit. Einsendungen über das Kontaktformular werden mittels Sendgrid abgewickelt."
            tags={[
              "Astro",
              "Tailwind",
              "CDN",
              "CMS",
              "TS",
              "REST",
              "Vercel",
              "Sendgrid",
            ]}
            link="https://github.com/mr-xray/portfolio-website"
          />
          <ProjectCard
            title="Java-Agent"
            date="Mar-Jun 2022"
            image={agent}
            description="Ein Java-Agent, der sich zu einem SpringBoot-Backend verbindet, welches mit Websockets ein Live-Angular-Frontend mit Daten zu Application-Monitoring versorgt. Sammelt Metriken wie Memory-Size, CPU-Load, aktive Threads oder die Anzahl der Klassen im Classloader. Agents können im Frontend registriert werden, der ausgegebene Token wird als Argument an den Agent beim Start gegeben. Alle Metriken werden zusätzlich lokal in Logfiles gespeichert."
            tags={[
              "Java-Agent",
              "Angular",
              "Spring",
              "Websockets",
              "Log4j",
              "JVM",
            ]}
            link="https://github.com/mr-xray/java-agent.git"
          />
          <ProjectCard
            title="Comedy-Webapp"
            date="Nov 2021 - Jun 2022"
            image={comedy}
            description="Eine GPS-basierete Eventapp, gebaut in Angular und NestJS für Kabarettisten Leo Lukas (Event wurde schlussendlich wegen Covid abgesagt). GPS-Events sind durch ein  JSON-file im Backend konfigurierbar. Admins können Events und User live sehen und manuell Events bei Usern in Echtzeit mittels Websockets auslösen. Unterstützt Video-, Bild- und Multiple-Choice-Question-Events. Multiple-Choice-Question-Antworten können von Admins live mit angesehen werden."
            tags={["GPS", "OSM", "Websockets", "JWT", "Angular", "NestJS"]}
            link="https://github.com/mr-xray/comedy-webapp"
          />
          <ProjectCard
            title="Progen-Lab"
            date="Oct 2022 - Apr 2023"
            image={progen}
            description="Ein kleines Unity-basiertes Tool für die prozeduale Generierung von DnD-Maps. Unterstützt verschiedene Biome, Höhenlagen and Siedlungen."
            tags={["Unity", "Procedural generation", "C#"]}
            link="https://github.com/BrotherSoos/Progen-Labs"
          />
        </div>
      </div>
    </div>
  </div></Base
>
